**_sources**
.fuse*
**.ipynb_checkpoints**
share/**
etc/**
**coverage**
**/.pytest_cache
Lectures
**__pycache__**
pyrightconfig.json
bin*
lib*
lib64*
include/*
pyvenv.cfg
pytest.log
/C_solutions/test.in
