**_sources**
.fuse*
**.ipynb_checkpoints**
share/**
etc/**
**coverage**
**.pytest_cache
Lectures
**__pycache__**
pyrightconfig.json
bin/
!bin/.gitkeep
lib*
lib64*
include/*
pyvenv.cfg
pytest.log
Algorithms_Python/C_solutions/logs/**
Algorithms_Python/C_solutions/test.in
**venv**
C_solutions/**bin**
